<br>
<section *ngIf="solutionForGeneticAlgorithm.length > 0">
    <input type="number" #generations placeholder="how many generations do you want to generate">
    <button type="button" (click)="generateGenerations(+generations.value)">Generate</button>
</section>

<div *ngIf="showChart">
    <h4>Best solution by genetic algorithm</h4>
    <br>
    <article *ngFor="let vehicle of bestSolution">
        {{vehicle.name}} &nbsp;
        <span *ngFor="let place of vehicle.visitedPlaces">
            > {{place.name}}
        </span>
        <p>Distnace taken : {{vehicle.distanceTaken}}</p>
        <br><br>

    </article>
    <br>
    <h5>Average distance per vehicle: {{averageDistance}}</h5>

    <canvas class="chartDiv" baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
        [plugins]="chartPlugins" [type]="chartType">
    </canvas>
    <br><br>
    <section>
        <h4>Add some number of generations for testing</h4>
        <input type="number" #numberOfGenerations>
        <button (click)="addToGenerationsArray(+numberOfGenerations.value)">Add</button><br>
        <div *ngIf="numberOfGenerationsForTesting.length > 0">
            <span *ngFor="let gen of numberOfGenerationsForTesting" >
                {{gen}}, &nbsp;
            </span>
            <br>
            <button (click)="breedGenerations()">Test</button>
            <br><br>
            
        </div>
        
    </section>
    
</div>