<section>
    <h3> The problem itself</h3> <br>
    <p>The Vehicle Routing Problem (VRP) is similar to the Travelling Salesman Proble (TRP)
        In the TRP there is a salesman, who starts his journey from a given "city" and
        visit every city on his list. We want to create the fastest route possible for him.
        The difference between VRP and TRP the number of "salesmans". In the VRP there are multiple
        "salesman" and we call these "vehicles". There is a "base" or "depot" where every vehicle
        start it's journey. Here our main goal is also to create the fastest route for each vehicle.
        - <a href="https://ai.leventefazekas.hu/" target="_blank">Credits to Levente Fazekas</a>
    </p>
    
       
    

</section>